@import '@/styles/mixins';
@import '@/styles/colors';

.videoWrapper {
  @include flex-column;

  @include phone-landscape {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.smallBenefitSegment {
  @include grid(1fr 1fr, auto);
  @include limit-and-center(80%);
  gap: 60px;
  margin: 50px auto;
  position: relative;

  &::after {
    @include pseudo;
    width: 100%;
    background: $BAL-main-color;
    height: 2px;
    bottom: -35px;
  }

  @include phone-landscape {
    max-width: 60%;
  }

  @include tablet {
    @include flex-center-horiz;
    margin-top: 90px;
    max-width: 80%;
  }

  @media screen and (min-width: 2000px) {
    max-width: 1700px;
  }
}

.appPreviewImage {
  width: 70%;
  margin: 70px auto 40px;
}
