.passwordInput {
  width: 100%;
  position: relative;

  span {
    position: absolute;
    top: 13px;
    right: 3px;
    cursor: pointer;
    color: #7dad51;
    text-decoration: underline;
    padding: 8px;
    z-index: 300;

    svg {
      font-size: 22px;
    }
  }
}
