@import '@/styles/colors';
@import '@/styles/mixins';

.groupRadio,
.contractActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.contractActions {
  gap: 8px;
  margin-top: 16px;
}
.noContractInfo {
  margin: 20px 0;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 14px;
}

.contractPanel {
  background-color: $white !important;
  margin: 10px 0;
  border-radius: 8px !important;
  border-radius: 4px;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  .contractHeader {
    @include flex-column;
    gap: 10px;
  }

  [role='tabpanel'] {
    // background: #add99666 !important;
    background: rgb(229 229 229 / 40%) !important;

    > div {
      padding: 0 !important;
    }
  }
}

.noContractInfo {
  padding: 30px;
  text-align: center;
  background-color: $white;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-weight: 400;
}

.contractContentWrapper {
  // padding: 1px;
  padding: 1px 20px;
  .contractWrapper {
    padding: 10px 15px;
    // padding-left: 39px;
    // border-bottom: 1px solid #add99666;
    border-bottom: solid rgb(188 188 188 / 40%);
    @include flex-column;
    align-items: flex-end;

    div {
      @include flex-custom(row, space-between, center);
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
