@import '@/styles/mixins';

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include laptop {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    [class='ant-statistic-title'] {
      min-height: 50px;
    }
    [class='ant-skeleton-title'] {
      margin: 0;
    }
  }
}
