@import '@/styles/colors';
@import '@/styles/mixins';

.loginWrapper {
  height: calc(100vh - 50px);
  @include flex-center;
}

.formWrapper {
  width: 280px;
  padding: 2rem;
  @include flex-center-column;
  background: $white;
  border-radius: 4px;
  box-shadow: 0px 4px 11px 0px $BAL-main-color;
  position: relative;

  h2 {
    font-size: 18px;
    color: $text-secondary-color-dark;
    font-weight: 400;
  }

  @include phone-landscape {
    width: 400px;
    margin: 40px;
  }
}

.form {
  @include flex-center-column;
  width: 100%;
  margin-bottom: 2rem;
}

.inputWrapper {
  margin-top: 0px;
}

.button {
  font-weight: 700;
  padding: 20px 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include flex-center;
}
