// $breakpoint-xs: 320px;
$breakpoint-s: 577px;
$breakpoint-m: 769px;
$breakpoint-l: 993px;
$breakpoint-xl: 1201px;
$breakpoint-xxl: 1501px;

/**
Breakpoints:
1) 320 - 576 extra small
2) 577 - 768 small
3) 769 - 992 medium
4) 993 - 1200 large
5) 1201 - 1550 extra large
6) od 1551 extra extra large
*/

/* !!!!!!!!!!!!!!! MacBooki 1168 × 755 !!!!!!!!!!!!!!! */
/* !!!!!!!!!!! Monitor Roberta 1150 X 720 !!!!!!!!!!!! */
/* !!!!!!!! Monitor kogoś ważnego 1536 x 714 !!!!!!!!! */
/* !!!!!!!! Monitory w biurze 2560 x 1280 !!!!!!!!! */