//generic
$white: #fff;
$black: #000;

//shades of green
$BAL-main-color: #7dad51;
$BAL-secondary-color: #bce694;

//bg
$bg-main-color: #f4f4f4;
$bg-secondary-color: #f2f8ed;
$bg-header-color: #fff;
// $bg-footer: #ADD99666;

//gradient
$gradient-header-main-color: rgba(125, 173, 81, 0.2);
$gradient-header-secondary-color: rgba(201, 201, 201, 0);

//opacity
$transparent-main-color: rgba(0, 0, 0, 0.25);
$transparent-button-color: rgba(125, 173, 81, 0.5);

//text
$text-main-color: #2f2f2f;
$text-secondary-color-dark: #113e21;
$text-secondary-color-light: #5F8D4E;
$text-footer-color: #fff;
